
<!-- partails navbar and footer s.1.4 connect the partials navbar to the index-->
<%- include('./partials/nav.ejs')%> 
<main>
<h1>welcome</h1>
</main>
<!-- partails navbar and footer s.1.4 connect the partials footer to the index-->
 <%- include('./partials/footer.ejs')%>